body {
  color: #333;
}

body, input, button {
  line-height: 1.4;
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
}


a {
  color: #4183C4;
  text-decoration: none;
}

#examples a {
  text-decoration: underline;
}

#geocomplete { width: 200px}

.map_canvas { 
  width: 100%; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

.map_canvas:hover {

opacity: .4;
content: "hello";
color: black;  

}

.map_canvas_one { 
  width: 100%; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}

       .pac-container {
            z-index: 9999;
        }        
      .sidebar .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    background: #9e9e9e;
    height: 101px; }    

#social {
  margin: 20px 10px;
  text-align: center;
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

         

        .upload_cover {
                            display:block;
                        position: relative;
                        width: 50%;
                        height: 100px;
                        text-align: center;
                        cursor: pointer;
                        margin: 0px auto;
                        }
                        .upload_input {
                        display: none !important;
                        }
                        .upload_icon {
                            display:block;
                            width:100%;
                            height:50px;
                            line-height:50px;
                            -webkit-mask-image:none; border:none !important;  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important; 
                        background: #9e9e9e;
                            color:white;
                        font-size: 19px;
                        position: absolute;
                        top: 20%;
                        margin:0px auto;
                        }    

        .mark, mark 
        {
            background: yellow;

          }    

         .sidebar .user-info {
                                padding: 13px 15px 12px 15px;
                                white-space: nowrap;
                                position: relative;
                                border-bottom: 1px solid #e9e9e9;
                                background: #9e9e9e;
                                height: 101px; 
                              
                              }    
                                                         

.dataTables_processing{

  
  position: absolute!important;
  top: 50%!important;
  right: 0!important;
  bottom: 0!important;
  left: 50%!important;
  margin: -15px 0 -15px!important;
  z-index:5!important; 
  height: 70px!important;
  width: 70px!important;
  border: 8px solid #000!important;
  border-right-color: transparent!important;
  border-radius: 100%!important;
  
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}


.spinner{
  
                            width:  50px;
                            height:  50px;
  border: 8px solid #000!important;
  border-right-color: transparent!important;
  border-radius: 100%!important;
  z-index:5!important; 
  
                            position: absolute;
                            right: 1%;
                            top: 9px;  
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}



@-webkit-keyframes rotate-forever {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

.hrtitle
{
      height: 3px !important;
    border-top: 5px solid #ffab00 !important;
}
            
.titlezoom 
{
    text-transform: uppercase;
    letter-spacing: 3px;
  }

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}  

        html,body { font-family: 'roboto' !important; }

.dt-buttons { margin-top: 10px !important;  }

        th { text-align: center;
              }
        .button {
            font-weight: 800!important;
            font-size: 17px !important;
        }

        .rotat
        {
          transform: rotateX(180deg) !important; 
          -webkit-transform: rotateX(180deg) !important;
        }
        .cemew 
        {
            margin-top: 30px !important;
            overflow-x: auto;
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg) ;
           }        