    /*
    Flaticon icon font: Flaticon
    Creation date: 04/09/2017 08:28
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-csv-file-format-extension:before { content: "\f100"; }
.flaticon-csv-file-format-symbol:before { content: "\f101"; }
.flaticon-pdf-file-format-symbol:before { content: "\f102"; }
.flaticon-xlsx-file-format:before { content: "\f103"; }
    
    $font-Flaticon-csv-file-format-extension: "\f100";
    $font-Flaticon-csv-file-format-symbol: "\f101";
    $font-Flaticon-pdf-file-format-symbol: "\f102";
    $font-Flaticon-xlsx-file-format: "\f103";